  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.formstyler.min.js"></script>
  <script src="js/holmes.js"></script>
  <script src="js/source/jquery.fancybox.pack.js"></script>
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/datetimepicker/moment.min.js"></script>
  <script src="js/datetimepicker/ru.js"></script>
  <script src="js/datetimepicker/bootstrap-datetimepicker.js"></script>
  <!--<script src="js/datetimepicker/daterangepicker.js"></script>-->
  <script src="js/script.js"></script>

</body>
</html>
