@import "partials/path";


//////////////// login /////////////////////

.pages-login{
  position: relative;
  width: 100%;
  //min-height: 100vh;
  min-height: 1000px;
  background-image: linear-gradient(142deg, #12587e 0%, #c7eee3 100%);
  &__conteiner{
    position: absolute;
    width: 660px;
    min-height: 550px;
    left: 50%;
    top:50%;
    margin: -275px 0 0 -330px;
    &_logo{
      
      &-poz{
        margin: -10px 0 10px -30px;
      }
    }
  }
}




.authorization{
  width: 660px;
  height: 444px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 0 rgba(81, 81, 81, 0.15);
  &__content{
    width: 366px;
    margin: 0 auto;
  }
  &__form{
    padding: 82px 0 0;
    &_item{
      padding: 0 0 18px;
      display: block;
    }
    &_title{
      color: lighten($g-color,24.5%);
      font-size: 18px;
      display: inline-block;
      padding: 0 0 4px;
    }
    &_input{
      display: block;
      width: 100%;
      height: 41px;
      background-color: $g-white;
      border: 1px solid #d7d7d7;
      border-radius: 3px;
      padding: 0 14px;
      font-size: 20px;
      color: darken($g-color,30%);
    }
    &_pass{
      border: none;
      height: 39px;
    }

  }
}



.js-pass{
  background: url('../images/show-pass.png') no-repeat 0 0;
  width: 24px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  float: right;
  margin-top:11px;
}


.show_pass{
  opacity: 1;
}



.authorization__form_link-help{
  float: right;
  display: inline-block;
}



.g-btn{
  display: inline-block;
  border: none;
  width: 100%;
  height: 49px;
  background-color: #7ec756;
  border-radius: 3px;
  box-shadow: 0 2px 0 #629f40;
  text-shadow: 0 2px 0 rgba(98, 159, 64, 0.42);
  color: $g-white;
  font-size: 24px;
  &:hover{
    background-color: lighten(#7ec756,2%);
  }
  
}



.authorization__form-btn{
  margin: 30px 0 0;
}



//////////////// \login\ /////////////////////


//////////////// header /////////////////////



.header{
  background-color: #007cc4;
  padding: 12px 12px 0;
  min-width: 1920px;
  &__logo{
    float: left;
  }
  &__menu{
    padding: 4px 3px 0;
    float: left;
  }
  &__additional{
    float: right;
  }
}



.menu{
  &__item{
    font-size:13px;
    color: #fff;
    text-decoration: none;
    padding: 11px 22px 10px;
    display: inline-block;
    transition:all 0.3s ease;
    &-active{
      color: #454545;
      background-color: #fff;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
    &:hover{
      color: #454545;
      background-color: #fff;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
  }
}



.additional{
  &__report{
    color: #bbd3ea;
    font-size:13px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    margin: 0 51px 0 0;
  }
  &__mail{
    color: #fff;
    font-size:13px;
    text-decoration: none;
  }
  &__close-replaced{
    color: #bbd3ea;
    font-size:13px;
    text-decoration: none;
    display: inline-block;
    background-color: #0371b0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    vertical-align: middle;
    padding: 6px 12px;
    margin: 0 30px 0 10px;
  
  }
}



.icon-print{
  vertical-align: middle;
  margin:0 5px 0 0;
}



.icon-entrance{
  vertical-align: middle;
  margin:0 0 0 5px;
}

//////////////// \header\ /////////////////////




//////////////// content\ /////////////////////

.content{
  padding-bottom: 80px;
  &__item{
    display: none;
    position: relative;
    &-active{
      display: block;
    }
  }
}



.tab{
  border-bottom: 1px solid #eae9e8;
  border-right: 1px solid #eae9e8;
  width:1534px;
  position: absolute;
  top:0;
}



.nav-tab{
  padding:4px 0 0 45px;
  float: left;
  &__item{
    display: inline-block;
    padding: 0 12px;
  }
  &__link{
    display: inline-block;
    font-size: 13px;
    color: #565656;
    text-decoration: none;
    padding: 15px 0 9px;
    border-bottom: 3px solid transparent;
    transition:all 0.3s ease;
    vertical-align: middle;
    &-active{
      border-color: #5c5c5c;
    }
    &:hover{
      border-color: #5c5c5c;
    }
  }
  &__numb{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width:22px;
    height:22px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 3px 0 0;
    &_col{
      color: #578f0f;
      border: 1px solid #578f0f;  
    }
  }
}



.nav-inf{
  float: right;
  &__item{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    border-left: 1px solid #eae9e8;
    padding: 15px 21px 11px;
  }
}



.tab-content{
  &__item{
    //padding:15px 0 0 60px;
    display: none;
    &:after {
      clear: both;
      content: "";
      display: block;
      float: none;
      margin: 0;
      padding: 0;
    }
    &_active{
      display: block;
    }
  }
  &__table{
    width:1534px;
    float: left;
    padding: 68px 0 0 60px;
  }
  &__aside{
    
  }
}



.form{
  padding:0 0 15px;
  &-search{
   
    &__input{
      font-size:13px;
      width: 456px;
      height: 35px;
      border: 1px solid #e4e4e4;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.16);
      padding: 0 0 0 11px;
      display: block;
      background: white url('../images/icon-reset.png') 120%  50% no-repeat;
      transition: background 0.4s;
      &.x  { background-position: 98% center; }
      &.onX{ cursor: pointer; }
      &::-ms-clear {display: none; width:0; height:0;}
      &:focus{
        border: 3px solid #98dcff;
        box-shadow: none;
      }
    }
    &__reset{
      display: inline-block;
      border: none;
      background-color: transparent;
      text-indent: -9999px;
      margin: 11px 9px 0 0;
      float: right;
    }
  }
 
}



span.highlight {
  background-color: #ffeeb5;  }
span.splink {
  }





















.table-cast{
  height:800px;
  overflow: auto;
}



.table{
  border: 1px solid #e4e4e4;
  &_full{
    width: 100%;
    overflow: hidden;
  }
  &__row{
    transition:all 0.3s ease;
    &_shadow{
      box-shadow: 0 1px 3px rgba(113, 113, 113, 0.26);
    }
    &-min{
      border-left: 2px solid #f65a5a;
    }
    &_checked{
      background-color: #f4f4f4;
    }
    &:hover{
      background-color: #f4f4f4;
    }
  }
  &__header{
    color: #303030;
    font-weight: 700;
    line-height: 25px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    padding: 4px 0 7px;
  }
  &__cell{
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 13px 10px 11px;
    vertical-align: middle;
    &_tal{
      text-align: left;
    }
  }
}



.status-btn{
  display: inline-block;
  width: 75px;
  height: 20px;
  background-color: #e5e5e5;
  border-radius: 3px;
  color: #707070;
  padding: 5px 0;
  text-align: center;
  &_done{
    background-color: #8abc49;
    color: #fff;
  }
  &_kitchen{
    background-color: #fb7b25;
    color: #fff;
  }
  &_delivery{
    background-color: #39b0d7;
    color: #fff;
  }
}



.phone-client{
  display: block;
  color: #7f7f7f;
}



.time{
  
  &_red{
    color: #f65a5a;
    font-weight: 700;
  }
  &_orange{
    color: #fb7b25;
    font-weight: 700;
  }
}



.numb-order{
  float: right;
  display: inline-block;
  padding: 4px 5px 0 0;
  vertical-align: middle;
}



.pic-bold{
  font-weight: 900;
}


.aside{
  width:386px;
  float: right;
  background-color: #f4f4f4;
  &-order{
    padding-top:40px;
  }
  &-head{
    text-align: right;
    padding: 28px 17px 38px 23px;
    &__numb-ord{
      font-size: 18px;
      display: inline-block;
      border-bottom: 4px solid #8abc49;
      float: left;
      padding: 5px 0;
    }
    &__numb-bdc{
      border-bottom: 4px solid #c6c6c6;
    }
    &__btn{
      display: inline-block;
      color: #3f3f3f;
      min-width: 110px;
      padding:0 5px;
      line-height: 30px;
      background-color: #fff;
      border: 1px solid #d7d7d7;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
      &_poz{
        margin: 3px 0 0 20px;
      }
      &-col{
        border: none;
        background-color: #fb7b25;
        color: #fff;  
      }
    }
  }
  &-footer{
    background-color: #e4e4e4;
    padding: 0 0 20px 23px;
    &__h{
      font-size:18px;
      font-weight: bold;
      color: #000;
      padding:13px 0;
    }
    &__opl{
      font-size:13px;
      color: #000;
    }
    &__price{
      font-size:30px;
      font-weight: bold;
      color: #000;
      &-rub{
        font-size: 15px;
      }
    }
  }
}


.aside-list{
  
  &_cont{
    max-height: 520px;
    overflow: auto;
  }
  &__item{
    padding: 12px 0 15px;
    &_header{
      font-weight: 700;
      background-color: #e4e4e4;
      padding: 10px 0 9px;
    }
    &_footer{
      background-color: #fff;
      margin: 24px 0 0;
      &-active{
        -webkit-box-shadow: 0px -8px 6px -3px rgba(50, 50, 50, 0.1);
        -moz-box-shadow:    0px -8px 6px -3px rgba(50, 50, 50, 0.1);
        box-shadow:         0px -8px 6px -3px rgba(50, 50, 50, 0.1);
      }
    }
  }
  &__name{
    display: inline-block;
    width:78%;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 22px;
    &_bol{
      font-weight: bold;
    }
    
  }
  &__quantity{
    display: inline-block;
    width:20%;
    text-align: center;
    vertical-align: middle;
    color: #565656;
    font-size: 13px;
    font-weight: 700;
  }
}


.name{
  &_green{
    color: #50b612;
  }
  &_oran{
    color: #ff7b33;
  }
}


.icon-user_min{
  vertical-align: middle;
}



//////////////// \content\ /////////////////////



//////////////// footer /////////////////////
.footer{
  height:70px;
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  min-width: 1920px;
  background-color: #393939;
  color: #fff;
  line-height:70px;
  &__cont{
    width:80%;
    float: left;
  }
  &__aside{
    width:20%;
    float: right;
    font-size:13px;
    text-align: center;
  }
  &-nav{
   &_bord{
     border-right: 1px solid #474747;
   }
    &__item{
      display: inline-block;
      line-height:70px;
      padding:0 15px;
      font-size:13px;
      &_bord{
        border-left: 1px solid #474747;
      }
      &_link{
        background-color: #676767;
        color: #f5f5f5;
        text-decoration: none;
      }
      
    }
    &__zak{
      display: inline-block;
      border-bottom: 2px solid #8abc49;
      line-height:20px;
    }
  }
  
}



.termin-btn{
  display: inline-block;
  width: 47px;
  height: 18px;
  background-color: #759160;
  border-radius: 9px;
  position: relative;
  vertical-align: middle;
  margin:0 10px;
  &_active{
    background-color: #ff6d74;
  }
  &__clock{
    position: absolute;
    top:-6px;
    right: 0;
    display: inline-block;
    width: 29px;
    height: 29px;
    background-color: #fff;
    box-shadow: 0 3px 7px rgba(78, 59, 64, 0.7);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    &_active{
      right: auto;
      left:0;
    }
  }
}

//////////////// \footer\ /////////////////////




//////////////// administrator /////////////////////





//////////////// \administrator\ /////////////////////




