/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fancy-clock-name: 'fancy-clock';
$fancy-clock-x: 0px;
$fancy-clock-y: 0px;
$fancy-clock-offset-x: 0px;
$fancy-clock-offset-y: 0px;
$fancy-clock-width: 17px;
$fancy-clock-height: 17px;
$fancy-clock-total-width: 40px;
$fancy-clock-total-height: 335px;
$fancy-clock-image: '../images/sprite.png';
$fancy-clock: (0px, 0px, 0px, 0px, 17px, 17px, 40px, 335px, '../images/sprite.png', 'fancy-clock', );
$icon-btn-up-name: 'icon-btn-up';
$icon-btn-up-x: 0px;
$icon-btn-up-y: 22px;
$icon-btn-up-offset-x: 0px;
$icon-btn-up-offset-y: -22px;
$icon-btn-up-width: 10px;
$icon-btn-up-height: 5px;
$icon-btn-up-total-width: 40px;
$icon-btn-up-total-height: 335px;
$icon-btn-up-image: '../images/sprite.png';
$icon-btn-up: (0px, 22px, 0px, -22px, 10px, 5px, 40px, 335px, '../images/sprite.png', 'icon-btn-up', );
$icon-cal-next-name: 'icon-cal__next';
$icon-cal-next-x: 0px;
$icon-cal-next-y: 32px;
$icon-cal-next-offset-x: 0px;
$icon-cal-next-offset-y: -32px;
$icon-cal-next-width: 6px;
$icon-cal-next-height: 10px;
$icon-cal-next-total-width: 40px;
$icon-cal-next-total-height: 335px;
$icon-cal-next-image: '../images/sprite.png';
$icon-cal-next: (0px, 32px, 0px, -32px, 6px, 10px, 40px, 335px, '../images/sprite.png', 'icon-cal__next', );
$icon-cal-prev-name: 'icon-cal__prev';
$icon-cal-prev-x: 0px;
$icon-cal-prev-y: 47px;
$icon-cal-prev-offset-x: 0px;
$icon-cal-prev-offset-y: -47px;
$icon-cal-prev-width: 6px;
$icon-cal-prev-height: 10px;
$icon-cal-prev-total-width: 40px;
$icon-cal-prev-total-height: 335px;
$icon-cal-prev-image: '../images/sprite.png';
$icon-cal-prev: (0px, 47px, 0px, -47px, 6px, 10px, 40px, 335px, '../images/sprite.png', 'icon-cal__prev', );
$icon-entrance-name: 'icon-entrance';
$icon-entrance-x: 0px;
$icon-entrance-y: 62px;
$icon-entrance-offset-x: 0px;
$icon-entrance-offset-y: -62px;
$icon-entrance-width: 17px;
$icon-entrance-height: 16px;
$icon-entrance-total-width: 40px;
$icon-entrance-total-height: 335px;
$icon-entrance-image: '../images/sprite.png';
$icon-entrance: (0px, 62px, 0px, -62px, 17px, 16px, 40px, 335px, '../images/sprite.png', 'icon-entrance', );
$icon-form-ord-name: 'icon-form_ord';
$icon-form-ord-x: 0px;
$icon-form-ord-y: 83px;
$icon-form-ord-offset-x: 0px;
$icon-form-ord-offset-y: -83px;
$icon-form-ord-width: 36px;
$icon-form-ord-height: 35px;
$icon-form-ord-total-width: 40px;
$icon-form-ord-total-height: 335px;
$icon-form-ord-image: '../images/sprite.png';
$icon-form-ord: (0px, 83px, 0px, -83px, 36px, 35px, 40px, 335px, '../images/sprite.png', 'icon-form_ord', );
$icon-help-name: 'icon-help';
$icon-help-x: 0px;
$icon-help-y: 123px;
$icon-help-offset-x: 0px;
$icon-help-offset-y: -123px;
$icon-help-width: 16px;
$icon-help-height: 16px;
$icon-help-total-width: 40px;
$icon-help-total-height: 335px;
$icon-help-image: '../images/sprite.png';
$icon-help: (0px, 123px, 0px, -123px, 16px, 16px, 40px, 335px, '../images/sprite.png', 'icon-help', );
$icon-hint-name: 'icon-hint';
$icon-hint-x: 0px;
$icon-hint-y: 144px;
$icon-hint-offset-x: 0px;
$icon-hint-offset-y: -144px;
$icon-hint-width: 16px;
$icon-hint-height: 16px;
$icon-hint-total-width: 40px;
$icon-hint-total-height: 335px;
$icon-hint-image: '../images/sprite.png';
$icon-hint: (0px, 144px, 0px, -144px, 16px, 16px, 40px, 335px, '../images/sprite.png', 'icon-hint', );
$icon-inp-clock-name: 'icon-inp-clock';
$icon-inp-clock-x: 0px;
$icon-inp-clock-y: 165px;
$icon-inp-clock-offset-x: 0px;
$icon-inp-clock-offset-y: -165px;
$icon-inp-clock-width: 36px;
$icon-inp-clock-height: 35px;
$icon-inp-clock-total-width: 40px;
$icon-inp-clock-total-height: 335px;
$icon-inp-clock-image: '../images/sprite.png';
$icon-inp-clock: (0px, 165px, 0px, -165px, 36px, 35px, 40px, 335px, '../images/sprite.png', 'icon-inp-clock', );
$icon-inp-clock2-name: 'icon-inp-clock2';
$icon-inp-clock2-x: 0px;
$icon-inp-clock2-y: 205px;
$icon-inp-clock2-offset-x: 0px;
$icon-inp-clock2-offset-y: -205px;
$icon-inp-clock2-width: 40px;
$icon-inp-clock2-height: 40px;
$icon-inp-clock2-total-width: 40px;
$icon-inp-clock2-total-height: 335px;
$icon-inp-clock2-image: '../images/sprite.png';
$icon-inp-clock2: (0px, 205px, 0px, -205px, 40px, 40px, 40px, 335px, '../images/sprite.png', 'icon-inp-clock2', );
$icon-print-name: 'icon-print';
$icon-print-x: 0px;
$icon-print-y: 250px;
$icon-print-offset-x: 0px;
$icon-print-offset-y: -250px;
$icon-print-width: 16px;
$icon-print-height: 16px;
$icon-print-total-width: 40px;
$icon-print-total-height: 335px;
$icon-print-image: '../images/sprite.png';
$icon-print: (0px, 250px, 0px, -250px, 16px, 16px, 40px, 335px, '../images/sprite.png', 'icon-print', );
$icon-reset-name: 'icon-reset';
$icon-reset-x: 0px;
$icon-reset-y: 271px;
$icon-reset-offset-x: 0px;
$icon-reset-offset-y: -271px;
$icon-reset-width: 12px;
$icon-reset-height: 12px;
$icon-reset-total-width: 40px;
$icon-reset-total-height: 335px;
$icon-reset-image: '../images/sprite.png';
$icon-reset: (0px, 271px, 0px, -271px, 12px, 12px, 40px, 335px, '../images/sprite.png', 'icon-reset', );
$icon-tim-name: 'icon-tim';
$icon-tim-x: 0px;
$icon-tim-y: 288px;
$icon-tim-offset-x: 0px;
$icon-tim-offset-y: -288px;
$icon-tim-width: 14px;
$icon-tim-height: 16px;
$icon-tim-total-width: 40px;
$icon-tim-total-height: 335px;
$icon-tim-image: '../images/sprite.png';
$icon-tim: (0px, 288px, 0px, -288px, 14px, 16px, 40px, 335px, '../images/sprite.png', 'icon-tim', );
$icon-user-min-name: 'icon-user_min';
$icon-user-min-x: 0px;
$icon-user-min-y: 309px;
$icon-user-min-offset-x: 0px;
$icon-user-min-offset-y: -309px;
$icon-user-min-width: 16px;
$icon-user-min-height: 16px;
$icon-user-min-total-width: 40px;
$icon-user-min-total-height: 335px;
$icon-user-min-image: '../images/sprite.png';
$icon-user-min: (0px, 309px, 0px, -309px, 16px, 16px, 40px, 335px, '../images/sprite.png', 'icon-user_min', );
$trigger-arrow-name: 'trigger-arrow';
$trigger-arrow-x: 0px;
$trigger-arrow-y: 330px;
$trigger-arrow-offset-x: 0px;
$trigger-arrow-offset-y: -330px;
$trigger-arrow-width: 10px;
$trigger-arrow-height: 5px;
$trigger-arrow-total-width: 40px;
$trigger-arrow-total-height: 335px;
$trigger-arrow-image: '../images/sprite.png';
$trigger-arrow: (0px, 330px, 0px, -330px, 10px, 5px, 40px, 335px, '../images/sprite.png', 'trigger-arrow', );
$spritesheet-width: 40px;
$spritesheet-height: 335px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($fancy-clock, $icon-btn-up, $icon-cal-next, $icon-cal-prev, $icon-entrance, $icon-form-ord, $icon-help, $icon-hint, $icon-inp-clock, $icon-inp-clock2, $icon-print, $icon-reset, $icon-tim, $icon-user-min, $trigger-arrow, );
$spritesheet: (40px, 335px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
